<!doctype html>
<!--

__/\\\________/\\\__/\\\\\\\\\\\\\\\__/\\\________/\\\_
 _\///\\\____/\\\/__\/////////////\\\_\/\\\_____/\\\//__
  ___\///\\\/\\\/_______________/\\\/__\/\\\__/\\\//_____
   _____\///\\\/_______________/\\\/____\/\\\\\\//\\\_____
    _______\/\\\______________/\\\/______\/\\\//_\//\\\____
     _______\/\\\____________/\\\/________\/\\\____\//\\\___
      _______\/\\\__________/\\\/__________\/\\\_____\//\\\__
       _______\/\\\________/\\\/____________\/\\\______\//\\\_
        _______\///________\///______________\///________\///__

-->
<!--[if IE]><html lang="{{ craft.app.language|slice(0,2) }}" class="ie old-ie"><![endif]-->
<!--[if !IE]><!--><html class="no-js no-fouc" lang="{{ craft.app.language|slice(0,2) }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width, height=device-height" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {# Loading Optimization #}
    {#<link rel="dns-prefetch" href="//cloudflare.com">#}
    {% if block('prefetch_resources') is defined %}
        {{ block('prefetch_resources') }}
    {% endif %}

    {#
     # SEO: Use SproutSEO Settings to specify SEO. You can override the block if you want
     # to disable SproutSEO for a specific page and add your own tags.
     # If you want your own SEO config per default, please still do this in "helpers/seo-data"
     #}
    {% block seo_data %}
        {% include 'helpers/seo-data' %}
    {% endblock %}

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/build/images/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/build/images/meta/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/build/images/meta/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/build/images/meta/manifest.json">
    <link rel="mask-icon" href="/build/images/meta/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% if craft.app.config.general.analytics.googleVerificationCode %}
        <meta name="google-site-verification" content="{{ craft.app.config.general.analytics.googleVerificationCode }}"/>
    {% endif %}

    {# CSS #}

    {# Block to insert custom, component-specific vendor css files #}
    {% if block('include_vendor_css') is defined %}
        {{ block('include_vendor_css') }}
    {% endif %}

    {# Vendor CSS from 3rd party plugins #}
    {#<link rel="stylesheet" type="text/css" href="{{ mix('build/css/vendor.css') }}">#}

    {# Main CSS #}
    <link rel="stylesheet" type="text/css" href="{{ mix('build/css/main.css') }}">

</head>

<body data-namespace="{% block namespace %}{% endblock %}">

    {# Main Content #}
    {% if block('page') is defined %}
        {{ block('page') }}
    {% endif %}

    {# Block right before end of body. e.g. to add modal windows and other overlays #}
    {% if block('before_body_ends') is defined %}
        {{ block('before_body_ends') }}
    {% endif %}

    {# Block to insert custom, component-specific vendor js files #}
    {% if block('include_vendor_js') is defined %}
        {{ block('include_vendor_js') }}
    {% endif %}

    {# Output Config variables to the frontend #}
    {% include 'helpers/frontend-constants' %}

    {# Javascript #}
    <script type="text/javascript" src="{{ mix('build/js/manifest.js') }}"></script>
    <script type="text/javascript" src="{{ mix('build/js/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ mix('build/js/app.js') }}"></script>

    {# Block to insert custom, component-specific js block after all other code #}
    {% if block('include_component_js') is defined %}
        {{ block('include_component_js') }}
    {% endif %}


    {# Matomo Analytics #}
    {# {% include "helpers/matomo-analytics" %} #}

    {# Google Analytic, if can't be avoided #}
    {# {% include 'helpers/google-analytics' %} #}

</body>
</html>
