{#
 # Base layout
 # ---------------
 #
 #}

{% extends "layouts/_html" %}

{% block page %}

    <div class="pageContainer">

        <div class="js-vueContainer">
            <header class="pageHeader"></header>
        </div>

        <div id="js-barbaWrapper" class="pageContent">

            {# Activate later on to use barba.js, for now we don't need it and use normal "vueContainer" #}
            {# <main class="js-barbaContainer barbaContainer" data-namespace="{{ block('namespace') }}">
                <div class="js-vueContainerBarba {{ block('namespace') }}">
                    {{ block('main') }}
                </div>
            </main> #}

            <main class="js-barbaContainer barbaContainer" data-namespace="{{ block('namespace') }}">
                <div class="js-vueContainer {{ block('namespace') }}">
                    {{ block('main') }}
                </div>
            </main>
        </div>
    </div>

    {# $cli-hook-layout-footer$ #}

{% endblock %}
