
{# Tell the browser to cache this page (every page) for 2 minutes, this is needed to allow link prefetching. And it also speeds up hopping between pages. #}
{#
    {% set expiry = now|date_modify('+2 minute') %}
    {% header "Cache-Control: max-age=" ~ (expiry.timestamp - now.timestamp) %}
    {% header "Pragma: cache" %}
    {% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}
#}

<!doctype html>
<!--

__/\\\________/\\\__/\\\\\\\\\\\\\\\__/\\\________/\\\_
 _\///\\\____/\\\/__\/////////////\\\_\/\\\_____/\\\//__
  ___\///\\\/\\\/_______________/\\\/__\/\\\__/\\\//_____
   _____\///\\\/_______________/\\\/____\/\\\\\\//\\\_____
    _______\/\\\______________/\\\/______\/\\\//_\//\\\____
     _______\/\\\____________/\\\/________\/\\\____\//\\\___
      _______\/\\\__________/\\\/__________\/\\\_____\//\\\__
       _______\/\\\________/\\\/____________\/\\\______\//\\\_
        _______\///________\///______________\///________\///__

-->
<!--[if IE]><html lang="{{ craft.locale|slice(0,2) }}" class="ie old-ie"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ craft.locale|slice(0,2) }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width, height=device-height" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />

    {# Loading Optimization #}
    {#<link rel="dns-prefetch" href="//cloudflare.com">#}
    {% if block('prefetch_resources') is defined %}
        {{ block('prefetch_resources') }}
    {% endif %}

    {#
     # SEO: Use SproutSEO Settings to specify SEO. You can override the block if you want
     # to disable SproutSEO for a specific page and add your own tags.
     # If you want your own SEO config per default, please still do this in "helpers/seo-data"
     #}
    {% block seo_data %}
        {% include 'helpers/seo-data' %}
    {% endblock %}

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/build/images/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/build/images/meta/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/build/images/meta/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/build/images/meta/manifest.json">
    <link rel="mask-icon" href="/build/images/meta/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {# CSS #}
    {# All header stuff added by plugins #}
    {{ getHeadHtml() }}

    {# Block to insert custom, component-specific vendor css files #}
    {% if block('include_vendor_css') is defined %}
        {{ block('include_vendor_css') }}
    {% endif %}

    {# Vendor CSS from 3rd party plugins #}
    {#<link rel="stylesheet" type="text/css" href="{{ assets.mix('build/css/vendor.css') }}">#}

    {# Main CSS #}
    <link rel="stylesheet" type="text/css" href="{{ assets.mix('build/css/main.css') }}">

    {# Y7K Analytics #}
    {% include "helpers/piwik-analytics.twig" %}

</head>

<body data-namespace="{% block namespace %}{% endblock %}">

    {# Main Content #}
    {% if block('page') is defined %}
        {{ block('page') }}
    {% endif %}

    {# Block right before end of body. e.g. to add modal windows and other overlays #}
    {% if block('before_body_ends') is defined %}
        {{ block('before_body_ends') }}
    {% endif %}

    {# All footer stuff added by plugins #}
    {{ getFootHtml() }}

    {# Block to insert custom, component-specific vendor js files #}
    {% if block('include_vendor_js') is defined %}
        {{ block('include_vendor_js') }}
    {% endif %}

    {# Output Config variables to the frontend #}
    {% include 'helpers/frontend-constants.twig' %}

    {# Javascript #}
    <script type="text/javascript" src="{{ assets.mix('build/js/manifest.js') }}"></script>
    <script type="text/javascript" src="{{ assets.mix('build/js/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ assets.mix('build/js/app.js') }}"></script>

    {# Block to insert custom, component-specific js block after all other code #}
    {% if block('include_component_js') is defined %}
        {{ block('include_component_js') }}
    {% endif %}

</body>
</html>
